body{
    background-image:linear-gradient(rgba(248, 221, 226, 0.268), rgba(232, 203, 252, 0.926)) ;
   background-size: cover;
   background-position: fixed;
   background-repeat: no-repeat;
   background-attachment: fixed;
   
    
    
    
 }

 .navBox {
    display: flex;
    margin-left: 34%;
    margin-top: 2%;
}

.nav {
    margin-left: 4%;
    border:2px solid  rgb(230, 201, 249) ;
    padding: 0.5%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.548);
    transition: ease 1s;
 }

 .nav a{
    text-decoration: none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

 }

 .nav:hover{
    transform: scale(1.1);
    background-color: rgb(230, 201, 249);
    
    
  
 }

 .nav1 {
    margin-left: 4%;
    border:2px solid   rgba(95, 145, 140, 0.926) ;
    padding: 0.5%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.548);
    transition: ease 1s;
 }

 .nav1 a{
    text-decoration: none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

 }

 .nav1:hover{
    transform: scale(1.1);
    background-color: rgba(71, 110, 107, 0.926);
    
    
  
 }


 .nav2 {
    margin-left: 4%;
    border:2px solid   rgba(73, 108, 133, 0.926) ;
    padding: 0.5%;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.548);
    transition: ease 1s;
 }

 .nav2 a{
    text-decoration: none;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

 }

 .nav2:hover{
    transform: scale(1.1);
    background-color:  rgba(65, 95, 116, 0.926);
    
    
  
 }
 


 .body2{
    background-image:linear-gradient(rgba(93, 109, 108, 0.268), rgba(71, 110, 107, 0.926)) ;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
 }


 .body3{
    background-image:linear-gradient(rgba(109, 128, 141, 0.268), rgba(65, 95, 116, 0.926)) ;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }
 
 h1{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     margin-top: 2%;
 }
 
 
 
 
 .box {
     display: flex;
     margin-top: 8%;
     margin-left: 10%;
     
 }
 
 .bildBox{
     opacity: 0.4;
     margin: 1%;
    
 }
 
 .bild{
     margin-left: 1%;
 }
 
 #bild3{
     width: 300px;
     box-shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.433);
 }
 
 .buttons{
     display: flex;
     margin-left: 3%;
     margin-top: 3%;
    
 }
 
 .buttons div{
     margin-left: 30%;
 }

 @media  screen  and (max-width: 600px) {

   .navBox{
      margin-left:12%;
   }

   .box{
      margin-left: 13%;
      display: block;
   }
   
   .box img{
      margin-left: 2%;
      width: 50%;
   }

   #bild3{
      width: 80%;
   }

   .buttons div{
      margin-left: 15%;
   }

   .buttons{
      margin-left: 20%;
   }
   
   .bildBox{
      margin-left: 25%;
   }

 }