*{
    margin: 0;
}

body{
   
  
   
}

header{
    display: flex;
    background-color: rgba(222, 192, 255, 0.518);
    margin: 0;
    font-family: 'Work Sans', sans-serif;
  
    
}

header div{
    margin-left: 3%;
   
}



#projects{
    margin-left: 7%;
    transition: ease 1s ;
    text-align: center;
    width: 10%;
    padding: 1%;
}

#projects:hover{
    transform: scale(1.1);
    background-color: rgba(222, 192, 255, 0.684);
}

#infos{
    margin-left: 8%;
    text-align: center;
    width: 10%;
    padding: 1%;
    transition: ease 1s ;
}

#infos:hover{
    transform: scale(1.1);
    background-color:  rgba(222, 192, 255, 0.684);
}

#mainSite{
    transition: ease 1s ;
    text-align: center;
    width: 10%;
    padding: 1%;
}

#mainSite:hover{
    transform: scale(1.1);
    background-color: rgba(222, 192, 255, 0.684);
    
}

#body{
    display: flex;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    background-color:   rgba(222, 192, 255, 0.518);
    border-radius: 7px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.156);
}

#body1{
    display: flex;
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 1px  rgba(222, 192, 255, 0.518);
}

#box1{
  
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 7px;
    font-family: 'Work Sans', sans-serif;
    
}

#box3{
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 7px;
    font-family: 'Work Sans', sans-serif;
}

#box2{
   
    width: 50%;
    margin-left: 5%;
    border-radius: 7px;
    
}

#box4{
    width: 50%;
    margin-left: 5%;
    border-radius: 7px;
}

#box2 img {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 7px;
    margin-left: 40%;
    
}
#box4 img {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 7px;
    margin-left: 10%;
    
}


h1{

    font-family: 'Kanit', sans-serif;
    margin-bottom: 2%;
    margin-top: 2%;
}

h2{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 400%;
    font-weight: bold;
    margin-left: 10.5%;
    
}

#text{
    margin-left: 10.5%;
}

#text p{
    font-family: 'Work Sans', sans-serif;

}

h3{
    font-size: 400%;
    font-family: 'Kanit', sans-serif;
    margin-top:2% ;
}

#web h2{
    font-size: 200%;
    font-family: 'Kanit', sans-serif;
    
    margin-left: 8%;
    margin-top: 4%;
}

#prBox1{
    margin-top: 3%;
    width: 90%;
}

#imgBox{
   
   margin-left: 4%;
    display: flex;
    padding: 2%;
}

#imgBox img{
 width: 50%;
margin-left: 2%;
 
}

#prBox1 p{
    font-family: 'Work Sans', sans-serif;
    margin-left: 8%;
}

#web{
    width: 95%;
    box-shadow: 1px 1px 1px 1px rgba(222, 192, 255, 0.518);
    margin-top: 3%;
    margin-left:3%;
}


a{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
}

a:hover{
    color: rgba(222, 192, 255, 0.663);
   
}